<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="styles/core.css" />
        {{#styles}}
        <link rel="stylesheet" href="styles/{{.}}" />
        {{/styles}}
    </head>
    <body>
        {{> body}}
        <script src="scripts/core.js"></script>
        {{#scripts}}
        <script src="scripts/{{.}}"></script>
        {{/scripts}}
    </body>
</html>
