<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/assets/styles/header.css" />
        <link rel="stylesheet" href="/assets/styles/core.css" />
        {{#styles}}
        <link rel="stylesheet" href="/assets/styles/{{.}}" />
        {{/styles}}
    </head>
    {{> body}}
    <script src="/assets/scripts/core.js"></script>
    {{#scripts}}
    <script src="/assets/scripts/{{.}}"></script>
    {{/scripts}}
</html>
