<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{{project_config.dir_styles}}}header.css" />
        <link rel="stylesheet" href="{{{project_config.dir_styles}}}core.css" />
        {{#styles}}
        <link rel="stylesheet" href="{{{project_config.dir_styles}}}{{.}}" />
        {{/styles}}
    </head>
    {{> body}}
    <script src="{{{project_config.dir_scripts}}}core.js"></script>
    {{#scripts}}
    <script src="{{{project_config.dir_scripts}}}{{.}}"></script>
    {{/scripts}}
</html>
