<body>
    {{> header}}
    <h1>{{title}}</h1>
    {{> description}}

    {{articles.length}} articles

    <ul>
    {{#articles}}
        <li><a href="{{{output}}}">{{data.title}}</a></li>
    {{/articles}}
    </ul>
</body>
