<body>
    {{> header}}
    <h1>{{title}}</h1>
    {{> description}}

    {{articles.length}} articles

    <ul>
    {{#recipes}}
        <li><a href="{{{project_config.root}}}{{{output}}}">{{data.title}}</a></li>
    {{/recipes}}
    </ul>
</body>
